body {
    background-color: #f5f5f5;
    position:relative;
}

h1{
    font-weight: bold;
    color: #020202;
    font-family:'Walbaum';
}

.name{
    font-size: 120px;
    line-height: 0;
    top:50%;
    left:10vw;
}

.title{
    font-size: 48px;
    line-height: 0.3;
    top:50%;
    left:10vw;
}

.projectOne {
    width:100%;
    height:100%;
    position:absolute;
    background-color:transparent;
    display:block;
    line-height:0.9;
    top:30vh;
    left:0vw;
}


a{
    color: #00224E;
    font-size: 20px;
    font-family:system-ui;
    font-weight:bold;
    display:block;
}

p{
    color: #00224E;
    font-size: 20px;
    font-family:system-ui;
    font-weight:bold;
    display:block;
    line-height: 0.01;
}


p:hover{
    color:#ffffff;
}