body {
    background-color: rgb(1,22,38);
}

.container {
    position:relative;
    width:50%;
    height:100%;
    left:25%;
}

.column .side {
    top:0%;
    left:0%;
    float:left;
    display:block;
    width:25%;
}

.column .rightside {
    display:block;
    width:25%;
    left:75%;
}

.picture{
    width: 100%;
    height:auto;
}

h1{
    font-family:'Neue Haas Grotesk Bold',sans-serif;
    font-size:36px;
    color:white;
    line-height:1.2;
}

h2 {
    font-family:'Neue Haas Grotesk Thin', sans-serif;
    font-size:20px;
    color:white;
}

p{
    font-family:'Neue Haas Grotesk Thin', sans-serif;
    font-size:16px;
    line-height:1.2;
    color:white;
}