h1{
    font-family:'Neue Haas Grotesk Bold',sans-serif;
    font-size:24px;
}

h2 {
    font-family:'Neue Haas Grotesk Thin', sans-serif;
    font-size:16px;
}

p{
    font-family:'Neue Haas Grotesk Thin', sans-serif;
    font-size:12px;
}