#image {
    width:100px;
    height:auto;
}

h1{
    font-style:"helvetica", sans-serif;
    position:absolute;
    top:50vh;
    left:50vw;
    line-height:1.2;
    text-align:center;
}
  
p{
    font-style: sans-serif;
    position:absolute;
    top:60vh;
    left:50vw;
    line-height:1.2;
    text-align:center;
}
