html, body {
    margin: 10;
    padding: 0;
  }
  canvas {
    display: block;
    margin:10px;
  }
  
  #countSlider{
    top: 0px;
    left: 100px;
    float:left;
  }
  
h3{
  font-family: sans-serif;
}

  p{
   font-family: sans-serif;
  }