html, body {
    margin: 10;
    padding: 0;
  }
  canvas {
    display: block;
    margin:10px;
  }
  
  #countSlider{
    top: 0px;
    left: 100px;
    float:left;
  }
  
h2{
  font-size:24px;
  font-family:"lushfont", sans-serif;
}

p{
   font-family:"IBMplexSans", sans-serif;
}