html, body {
    margin: 10;
    padding: 0;
  }
  canvas {
    display: block;
    /* margin:10px; */
  }
  
  #countSlider{
    top: 0px;
    left: 100px;
    float:left;
  }
  
h2{
  font-size:24px;
  font-family:"lushfont", sans-serif;
}

p{
   font-family:"IBMplexSans", sans-serif;
}

#myList {
  margin:10px;
  width:200px;
  height:50px;
  font-family:"lushfont","IBMplexSans", sans-serif;
}

#save {
  left:100%;
  font-family:"lushfont","IBMplexSans", sans-serif;
  background-color:black;
  color:white;
  width:100px;
  height:50px;
}

#submitButton {
  font-family:"lushfont","IBMplexSans", sans-serif;
  background-color:black;
  color:white;
  width:100px;
  height:50px;
}